# functions
export(MRFA,MRF, polys2nb, nb2prec, draw.polys, polys2polys, nb2nb, mrfa, gamlss.mrfa, 
       mrf, gamlss.mrf)

S3method(fitted, MRF)
S3method(coef, MRF)
S3method(AIC, MRF)
S3method(deviance,MRF)
S3method(print, MRF)
S3method(summary, MRF)
S3method(plot, MRF)
S3method(residuals, MRF)
S3method(predict, MRF)

importFrom(gamlss.dist, dNO, qNO, pNO)
import(gamlss)
import(spam)
import(mgcv)

